:root {
  --gridSize: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(150, 187, 233);
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  margin: 10px 0;
  background-color: black;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  display: grid;
  width: max-content;
  gap: 2px;
  grid-auto-flow: row;
  grid-template-columns: repeat(11, var(--gridSize));
  grid-auto-rows: var(--gridSize);
}

.board > div {
  background-color: white;
}

#player2_container .boardSpace:not(.hit) {
  cursor: pointer;
}

.boardSpace.ship {
  background-color: grey;
}

.boardSpace.hit {
  background-color: yellow;
}

.boardSpace.ship.hit {
  background-color: red;
}

.boardLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}
