:root {
  --gridSize: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(150, 187, 233);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 2px solid black;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.gamemode {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.2rem;
}

.gamemode button {
  padding: 5px 0;
  font-size: 1.2rem;
  position: relative;
}

.gamemode button:disabled::after {
  z-index: 1;
  position: absolute;
  width: max-content;
  left: 120px;
  rotate: -15deg;
  content: "Under Construction";
  color: yellow;
  font-size: 1.5rem;
}

.startForm {
  text-align: center;
}

.startForm > div {
  margin: 10px 0;
}

.startForm label {
  font-size: 1.5rem;
}

.startForm input {
  font-size: 1.2rem;
  padding: 5px;
}

.formBtns,
.shipPlacementBtns {
  display: flex;
  width: 100%;
  gap: 5px;
}

.formBtns button,
.shipPlacementBtns button {
  flex: 1;
  padding: 10px 0;
  font-size: 1.2rem;
}

.shipPreview {
  flex: 0;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shipsContainer {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dragableShip {
  cursor: pointer;
  background-color: black;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  display: grid;
  width: max-content;
  height: max-content;
  gap: 2px;
  padding: 2px;
  grid-auto-flow: column;
  grid-auto-columns: var(--gridSize);
  grid-auto-rows: var(--gridSize);
}

.dragableShip.vertical {
  grid-auto-flow: row;
}

.dragableShipSpace {
  background-color: grey;
}

.privacyScreen {
  text-align: center;
}

.privacyScreen > * {
  margin: 20px 0;
}

.privacyScreen > button {
  width: 100%;
  padding: 5px;
  font-size: 2rem;
}

.game,
.shipPreview {
  font-size: calc(var(--gridSize) * 0.8);
}

.game > * {
  margin: 15px 0;
}

.lastAttack,
.currentTurn {
  text-align: center;
}

.gameOverMenu {
  display: flex;
  justify-content: space-evenly;
}

.endGameBtn {
  font-size: 1em;
  padding: 5px;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.boardShips > h3 {
  text-align: center;
  text-decoration: underline;
}

.boardShipNames {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.board {
  background-color: black;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  display: grid;
  width: max-content;
  gap: 2px;
  grid-auto-flow: row;
  grid-template-columns: repeat(11, var(--gridSize));
  grid-auto-rows: var(--gridSize);
}

.board > div {
  background-color: white;
}

.boardBtn {
  appearance: none;
}

.boardBtn:hover:after {
  display: block;
  text-align: center;
  content: "X";
}

.boardSpace.ship {
  background-color: grey;
}

.boardSpace.hit {
  background-color: yellow;
}

.boardSpace.ship.hit {
  background-color: red;
}

.boardLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}
